* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

canvas {
  box-shadow: plum 5px 5px 15px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}
